<div class="todo-list">
  <!-- Actions to filter and sort -->
  <div class="todo-list-actions">
    <div>
      <label for="status">Show</label>
      <select name="status" id="status">
        <option value="all">All</option>
        <option value="done">Done</option>
        <option value="pending">Pending</option>
        <option value="on-going">On-Going</option>
      </select>
    </div>

    <div>
      <label for="status">Sort By</label>
      <select name="status" id="status">
        <option value="latest">Latest</option>
        <option value="oldest">Oldest</option>
      </select>
    </div>
  </div>

  <!-- Display items -->
  <div *ngFor="let todoItem of dummyData" class="todo-item">
    <span class="todo-item-title">{{ todoItem.title }}</span>
    <div class="todo-item-select-status">
      <label for="status">Status</label>
      <br />
      <select name="status" id="status">
        <option value="done">Done</option>
        <option value="pending">Pending</option>
        <option value="on-going">On-Going</option>
      </select>
    </div>
    <button>Delete</button>
    <span class="todo-item-status">{{ todoItem.status }}</span>
  </div>
</div>
