* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #eaebec;
}

.container {
  width: 400px;
  margin: auto;
}

.calc-body {
  width: 275px;
  margin: auto;
  min-height: 400px;
  border: solid 1px #3a4655;
  box-shadow: 0 8px 50px -7px black;
}

.calc-screen {
  background: #3a4655;
  width: 100%;
  height: 150px;
  padding: 20px;
}

.calc-operation {
  text-align: right;
  color: #727b86;
  font-size: 21px;
  padding-bottom: 10px;
  border-bottom: dotted 1px;
}

.calc-typed {
  margin-top: 20px;
  font-size: 45px;
  text-align: right;
  color: #fff;
}

.calc-button-row {
  width: 100%;
  background: #3c4857;
}

.button {
  width: 25%;
  background: #425062;
  color: #fff;
  padding: 20px;
  display: inline-block;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  margin-right: -4px;
  border-right: solid 2px #3c4857;
  border-bottom: solid 2px #3c4857;
  transition: all 0.2s ease-in-out;
}

.button.l {
  color: #aeb3ba;
  background: #404d5e;
}

.button.c {
  color: #d95d4e;
  background: #404d5e;
}

.button:hover {
  background: #e0b612;
  transform: rotate(5deg);
  cursor: pointer;
}

.button.c:hover,
.button.l:hover {
  background: #e0b612;
  color: #fff;
}

.blink-me {
  color: #e0b612;
  animation: blinker 0.7s infinite forwards ease-in-out;
}

@keyframes blinker {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
