<div class="container">
  <div class="calc-body">
    <div class="calc-screen">
      <div class="calc-operation">
        {{ getInputData() }}<span class="blink-me">|</span>
      </div>
      <div class="calc-typed">{{ result }}</div>
    </div>
    <div class="calc-button-row">
      <div class="button c">C</div>
      <!-- <div class="button l">≠</div> -->
      <div class="button l" (click)="setCurrentOperation('%')">%</div>
      <div class="button l" (click)="setCurrentOperation('/')">/</div>
    </div>
    <div class="calc-button-row">
      <div class="button" (click)="setCurrentInput('7')">7</div>
      <div class="button" (click)="setCurrentInput('8')">8</div>
      <div class="button" (click)="setCurrentInput('9')">9</div>
      <div class="button l" (click)="setCurrentOperation('*')">x</div>
    </div>
    <div class="calc-button-row">
      <div class="button" (click)="setCurrentInput('4')">4</div>
      <div class="button" (click)="setCurrentInput('5')">5</div>
      <div class="button" (click)="setCurrentInput('6')">6</div>
      <div class="button l" (click)="setCurrentOperation('-')">−</div>
    </div>
    <div class="calc-button-row">
      <div class="button" (click)="setCurrentInput('1')">1</div>
      <div class="button" (click)="setCurrentInput('2')">2</div>
      <div class="button" (click)="setCurrentInput('3')">3</div>
      <div class="button l" (click)="setCurrentOperation('+')">+</div>
    </div>
    <div class="calc-button-row">
      <div class="button" (click)="setCurrentInput('.')">.</div>
      <div class="button" (click)="setCurrentInput('0')">0</div>
      <div class="button"><</div>
      <div class="button l">=</div>
    </div>
  </div>
</div>
